@font-face {
    font-family: myFirstFont;
    src: url(KUNSTLER.TTF);
    text-decoration: underline;
}
@font-face {
    font-family: mySecondFont;
    src: url(KUNSTLER.TTF);
}
body {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    background-color: #fbf5f5;
}
h1 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 10em;
    font-family: myFirstFont ;
    text-decoration: underline;
    text-align: center;
    color: #f1bdb8;
    background-color: #ced4bf;
}
nav {
    margin-bottom: 10px;
    font-family: mySecondFont ;
    text-align: center;
    font-size: 3em;
    background-color: #b5b9aa;
}
nav a {
    color: #000000;
    text-decoration: none;

}
a:hover {
    color:darkgray;
}
img {
    background-color: #fbf5f5;
    margin: 0px;
    border-radius: 10px;
    
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 0;
}

.column {
    flex-grow: 1;
    width: 33%;
    justify-content: center;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logo {
    width: 100%;
    max-width: 500px;
    height: auto;
}
button {
    display: none;
}
.dropdown {
    overflow: hidden;
}
/*Desktop css*/

@media screen and (min-device-width: 1024px) {
    nav a {
        margin-left: 40px;
        margin-right: 40px;
    }
}
/*Tablet css */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    html {
        width: fit-content;
    }
    nav a {
        margin-left: 37px;
        margin-right: 37px;
    }

}
/*mobile css*/
@media screen and (max-device-width: 768px) {
    h1 {
        font-size: 4em;
    }
    html {
        width: fit-content;
    }
    nav a {
        display: none;
    }
    .row {
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
    button {
        display: initial;
        border: none;
        outline: none;
        background-color: #b5b9aa;
        font-family: mySecondFont;
        font-size: 1em;
    }
    .dropdown:hover .dropdownContent {
        display: block;
    }
}
