@font-face {
    font-family: myFirstFont;
    src: url(KUNSTLER.TTF);
    text-decoration: underline;
}
@font-face {
    font-family: mySecondFont;
    src: url(KUNSTLER.TTF);
}
body { 
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #fbf5f5;
}
h1 {
    
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 10em;
    font-family: myFirstFont ;
    text-decoration: underline;
    text-align: center;
    color: #f1bdb8;
    background-color: #ced4bf;
}
nav {
    margin-bottom: 100px;
    font-family: mySecondFont ;
    text-align: center;
    font-size: 3em;
    background-color: #b5b9aa;
}
nav a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color:darkgray;
}
p {
    text-align: center;
}
/*Desktop css*/

@media screen and (min-device-width: 1024px) {
    nav a {
        margin-left: 40px;
        margin-right: 40px;
    }
}
/*Tablet css */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    html {
        width: fit-content;
    }
    nav a {
        margin-left: 37px;
        margin-right: 37px;
    }

}
/*mobile css*/
@media screen and (max-device-width: 768px) {
    html {
        width: fit-content;
    }
    nav a {
        margin-left: 36px;
        margin-right: 36px;
    }
}
